# 종목별 변동률 합친 데이터 만들기

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [51]:
path = os.getcwd()
print(path)
data_path = os.path.join(path,'data','변동률')
print(data_path)

data_list = os.listdir(data_path)
print(data_list)

C:\KDT4\ML,DL\프로젝트4
C:\KDT4\ML,DL\프로젝트4\data\변동률
['광고_지수.csv', '반도체와반도체장비_지수.csv', '석유와가스_지수.csv', '조선_지수.csv', '철강_지수.csv']

In [52]:
df_path = os.path.join(data_path,data)
df_path

'C:\\KDT4\\ML,DL\\프로젝트4\\data\\변동률\\철강_지수.csv'

In [53]:
df_total = pd.DataFrame()
df_total

Empty DataFrame
Columns: []
Index: []

In [62]:
# 불러올 데이터 저장파일 경로 
path = os.getcwd()
data_path = os.path.join(path,'data','변동률')

data_list = os.listdir(data_path)
data1 = os.path.join(data_path,data_list[0])

# 날짜만 있는 데이터프레임 생성
df_total = pd.read_csv(data1,usecols=['Date'])
df_total

            Date
0     2008-01-02
1     2008-01-03
2     2008-01-04
3     2008-01-07
4     2008-01-08
...          ...
3530  2022-04-13
3531  2022-04-14
3532  2022-04-15
3533  2022-04-18
3534  2022-04-19

[3535 rows x 1 columns]

In [64]:
# df_total(날짜)에 파일별 변동률 합치기
for data in data_list:
    print(data)
    df_path = os.path.join(data_path,data)
    df = pd.read_csv(df_path, usecols=['전일비'])
    df_total = pd.concat([df_total,df], axis=1)
df_total

광고_지수.csv
반도체와반도체장비_지수.csv
석유와가스_지수.csv
조선_지수.csv
철강_지수.csv

            Date       전일비        전일비       전일비       전일비       전일비
0     2008-01-02       NaN        NaN       NaN       NaN       NaN
1     2008-01-03  0.726546  -0.757189 -3.766741 -0.548956 -0.036182
2     2008-01-04  2.910419  -0.793798 -1.656255  0.160027  1.025414
3     2008-01-07 -0.329278  -3.217779 -3.177211 -2.559750 -3.317116
4     2008-01-08  0.684115  -1.850255  3.295744 -2.012674 -3.591288
...          ...       ...        ...       ...       ...       ...
3530  2022-04-13  0.641774   8.750711  2.430165  1.503007  0.253377
3531  2022-04-14 -1.899826 -11.009476  1.103000  0.293864  0.077784
3532  2022-04-15 -1.464645  -8.099469 -0.340995  0.896195 -0.118257
3533  2022-04-18 -0.509093   3.612096  2.586396 -0.469818 -0.010848
3534  2022-04-19 -1.646955  13.620827  0.203439  0.571404  0.334725

[3535 rows x 6 columns]

In [65]:
# 칼럼이름 바꾸기
df_total.columns = ['date','광고주_변동률','반도체주_변동률','석유주_변동률','조선주_변동률','철강주_변동률']
df_total

            date   광고주_변동률   반도체주_변동률   석유주_변동률   조선주_변동률   철강주_변동률
0     2008-01-02       NaN        NaN       NaN       NaN       NaN
1     2008-01-03  0.726546  -0.757189 -3.766741 -0.548956 -0.036182
2     2008-01-04  2.910419  -0.793798 -1.656255  0.160027  1.025414
3     2008-01-07 -0.329278  -3.217779 -3.177211 -2.559750 -3.317116
4     2008-01-08  0.684115  -1.850255  3.295744 -2.012674 -3.591288
...          ...       ...        ...       ...       ...       ...
3530  2022-04-13  0.641774   8.750711  2.430165  1.503007  0.253377
3531  2022-04-14 -1.899826 -11.009476  1.103000  0.293864  0.077784
3532  2022-04-15 -1.464645  -8.099469 -0.340995  0.896195 -0.118257
3533  2022-04-18 -0.509093   3.612096  2.586396 -0.469818 -0.010848
3534  2022-04-19 -1.646955  13.620827  0.203439  0.571404  0.334725

[3535 rows x 6 columns]

In [69]:
# 완성코드

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os 

# 불러올 데이터 저장파일 경로 
path = os.getcwd()
data_path = os.path.join(path,'data','변동률')

data_list = os.listdir(data_path)
data1 = os.path.join(data_path,data_list[0])

# 날짜만 있는 데이터프레임 생성
df_total = pd.read_csv(data1,usecols=['Date'])

for data in data_list:
    print(data)
    df_path = os.path.join(data_path,data)
    df = pd.read_csv(df_path, usecols=['전일비'])
    df_total = pd.concat([df_total,df], axis=1)

df_total.columns = ['date','광고주_변동률','반도체주_변동률','석유주_변동률','조선주_변동률','철강주_변동률']
print(df_total)

save_path = os.path.join(path,'data')
df_total.to_csv(save_path + '/종목_변동률.csv')

광고_지수.csv
반도체와반도체장비_지수.csv
석유와가스_지수.csv
조선_지수.csv
철강_지수.csv
            date   광고주_변동률   반도체주_변동률   석유주_변동률   조선주_변동률   철강주_변동률
0     2008-01-02       NaN        NaN       NaN       NaN       NaN
1     2008-01-03  0.726546  -0.757189 -3.766741 -0.548956 -0.036182
2     2008-01-04  2.910419  -0.793798 -1.656255  0.160027  1.025414
3     2008-01-07 -0.329278  -3.217779 -3.177211 -2.559750 -3.317116
4     2008-01-08  0.684115  -1.850255  3.295744 -2.012674 -3.591288
...          ...       ...        ...       ...       ...       ...
3530  2022-04-13  0.641774   8.750711  2.430165  1.503007  0.253377
3531  2022-04-14 -1.899826 -11.009476  1.103000  0.293864  0.077784
3532  2022-04-15 -1.464645  -8.099469 -0.340995  0.896195 -0.118257
3533  2022-04-18 -0.509093   3.612096  2.586396 -0.469818 -0.010848
3534  2022-04-19 -1.646955  13.620827  0.203439  0.571404  0.334725

[3535 rows x 6 columns]