In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('./data/AirQaulity_ffill.csv',parse_dates=True, index_col=0)
data.head()

,CO_true,CO_sensor,NMHC_true,C6H6_true,NMHC_sensor,NOx_true,NOx_sensor,NO2_true,NO2_sensor,O3_sensor,T,RH,AH
date,,,,,,,,,,,,,
2004-03-04 00:00:00,1.6,1254.0,139.0,9.0,941.0,98.0,828.0,106.0,1566.0,1270.0,17.1,51.8,0.9990
2004-03-04 01:00:00,1.3,1141.0,98.0,6.3,827.0,73.0,936.0,88.0,1488.0,1110.0,16.2,54.2,0.9933
2004-03-04 02:00:00,1.2,1141.0,88.0,5.3,777.0,69.0,986.0,83.0,1455.0,1060.0,15.1,58.2,0.9886
2004-03-04 03:00:00,0.9,1042.0,66.0,3.8,697.0,-200.0,1056.0,-200.0,1410.0,965.0,15.1,57.6,0.9796
2004-03-04 04:00:00,0.8,986.0,57.0,3.0,651.0,60.0,1145.0,74.0,1380.0,891.0,14.5,58.0,0.9488