In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('SIGP_freight_data.csv',index_col=0, parse_dates=True)
df

             cargo  container
2007-01-31  2828.2      204.7
2007-02-28  2512.5      181.0
2007-03-31  2850.2      202.8
2007-04-30  3027.7      220.1
2007-05-31  3139.4      220.8
...            ...        ...
2022-10-31  4394.4      419.4
2022-11-30  4529.5      411.0
2022-12-31  4566.1      410.9
2023-01-31  4304.7      380.3
2023-02-28  4195.5      365.4

[194 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 194 entries, 2007-01-31 to 2023-02-28
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cargo      194 non-null    float64
 1   container  194 non-null    float64
dtypes: float64(2)
memory usage: 4.5 KB