In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

from selenium import webdriver
from datetime import datetime

In [8]:
driver = webdriver.Chrome()

In [9]:
url = 'https://finance.naver.com/item/sise_day.naver?code=052260'
url

'https://finance.naver.com/item/sise_day.naver?code=052260'

In [10]:
driver.get(url)

In [11]:
html = driver.page_source
df = pd.read_html(html)[0]
df

            날짜       종가    전일비       시가       고가       저가      거래량
0          NaN      NaN    NaN      NaN      NaN      NaN      NaN
1   2022.06.24  11450.0  500.0  10800.0  11600.0  10750.0  54086.0
2   2022.06.23  10950.0  950.0  11750.0  12050.0  10850.0  98708.0
3   2022.06.22  11900.0  600.0  12400.0  12600.0  11750.0  42103.0
4   2022.06.21  12500.0  450.0  12100.0  12500.0  12000.0  46394.0
5   2022.06.20  12050.0  950.0  13000.0  13150.0  12050.0  73004.0
6          NaN      NaN    NaN      NaN      NaN      NaN      NaN
7          NaN      NaN    NaN      NaN      NaN      NaN      NaN
8          NaN      NaN    NaN      NaN      NaN      NaN      NaN
9   2022.06.17  13000.0  150.0  12950.0  13100.0  12650.0  37597.0
10  2022.06.16  13150.0    0.0  13400.0  13750.0  13150.0  28854.0
11  2022.06.15  13150.0  750.0  13700.0  14000.0  13150.0  47847.0
12  2022.06.14  13900.0  450.0  14200.0  14300.0  13800.0  54830.0
13  2022.06.13  14350.0  900.0  15100.0  15150.0  14250.0  44919.0
14         NaN      NaN    NaN      NaN      NaN      NaN      NaN

In [112]:
now = datetime.now()

In [113]:
time = now.strftime('%H:%M')
time

'17:52'

In [114]:
date = now.strftime('%Y.%m.%d')
date

'2022.06.23'

In [115]:
date_y = pd.to_datetime(date)-pd.to_timedelta(1,unit='D')
date_y = date_y.strftime('%Y.%m.%d')
date_y

'2022.06.22'

In [116]:
now_p = df[df['날짜']==date].iloc[0,1]
diff = df[df['날짜']==date].iloc[0,1] - df[df['날짜']==date_y].iloc[0,1]
st_p = df[df['날짜']==date].iloc[0,3]
high_p = df[df['날짜']==date].iloc[0,4]
low_p = df[df['날짜']==date].iloc[0,5]
volume = df[df['날짜']==date].iloc[0,6]

In [118]:
now_p

10950.0

In [125]:
df.dropna(inplace=True)
# df[df['날짜']==date].iloc[0,1]

In [127]:
df[df['날짜']==date].iloc[0,1]

10950.0

# 합친 코드

In [130]:
import pandas as pd
import numpy as np

from selenium import webdriver
from datetime import datetime

df_kospi = pd.read_csv('./data/recent_kospi_list.csv',index_col=0)
# 코드 반환
def corp_code(corp_name):
    code = df_kospi[df_kospi['Name']==corp_name]['Symbol'].iloc[0]
    code = str(code).zfill(6)
    return code

def stock_now(corp_name):
    code = corp_code(corp_name)
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
    driver = webdriver.Chrome()
    driver.get(url)
    html = driver.page_source
    df = pd.read_html(html)[0]
    df.dropna(inplace=True)
    now = datetime.now()

    time = now.strftime('%H:%M')
    date = now.strftime('%Y.%m.%d')
    date_y = pd.to_datetime(date)-pd.to_timedelta(1,unit='D')
    date_y = date_y.strftime('%Y.%m.%d')

    now_p = df[df['날짜']==date].iloc[0,1]
    diff = df[df['날짜']==date].iloc[0,1] - df[df['날짜']==date_y].iloc[0,1]
    st_p = df[df['날짜']==date].iloc[0,3]
    high_p = df[df['날짜']==date].iloc[0,4]
    low_p = df[df['날짜']==date].iloc[0,5]
    volume = df[df['날짜']==date].iloc[0,6]
    
    text1 = f'현재시각 {time}'
    text2 = f'{corp_name}의 실시간 주가는 {now_p}원이며 전일대비 {diff}원 변화가 있었습니다.'
    text3 = f'{corp_name}의 시가는 {st_p}원,'
    text4 = f'저가는 {low_p}원, 고가는 {high_p}원 이며'
    text5 = f'현재 총거래량은 {volume} 입니다.'
    
    return text1 + '\n' + text2 +'\n' + text3 + '\n' + text4 + '\n' + text5

In [131]:
stock_now('삼성전자')

'현재시각 18:02\n삼성전자의 실시간 주가는 57400.0원이며 전일대비 -200.0원 변화가 있었습니다.\n삼성전자의 시가는 57700.0원,\n저가는 56800.0원, 고가는 58000.0원 이며\n현재 총거래량은 28024896.0 입니다.'

In [12]:
import pandas as pd
import numpy as np

from selenium import webdriver
from datetime import datetime

df_kospi = pd.read_csv('./data/recent_kospi_list.csv',index_col=0)
# 코드 반환
def corp_code(corp_name):
    code = df_kospi[df_kospi['Name']==corp_name]['Symbol'].iloc[0]
    code = str(code).zfill(6)
    return code

def stock_now(corp_name):
    code = corp_code(corp_name)
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
    driver = webdriver.Chrome()
    driver.get(url)
    html = driver.page_source
    df = pd.read_html(html)[0]
    df.dropna(inplace=True)
    now = datetime.now()

    time = now.strftime('%H:%M')
    date = now.strftime('%Y.%m.%d')
    date_y = pd.to_datetime(date)-pd.to_timedelta(1,unit='D')
    date_y = date_y.strftime('%Y.%m.%d')

    now_p = df.iloc[0,1]
    diff = df.iloc[0,1] - df.iloc[1,1]
    st_p = df.iloc[0,3]
    high_p = df.iloc[0,4]
    low_p = df.iloc[0,5]
    volume = df.iloc[0,6]
    
    text1 = f'현재시각 {time}'
    text2 = f'{corp_name}의 실시간 주가는 {now_p}원이며 전일대비 {diff}원 변화가 있었습니다.'
    text3 = f'{corp_name}의 시가는 {st_p}원,'
    text4 = f'저가는 {low_p}원, 고가는 {high_p}원 이며'
    text5 = f'현재 총거래량은 {volume} 입니다.'
    
    return text1 + '\n' + text2 + '\n' + text5

In [13]:
stock_now('흥아해운')

'현재시각 14:55\n흥아해운의 실시간 주가는 2070.0원이며 전일대비 80.0원 변화가 있었습니다.\n흥아해운의 시가는 1900.0원,\n저가는 1900.0원, 고가는 2080.0원 이며\n현재 총거래량은 227982.0 입니다.'