# 뉴스기사 전처리 후 저장하기

In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [168]:
import re
from pykospacing import Spacing
from konlpy.tag import Hannanum,Kkma,Komoran,Okt

In [169]:
import FinanceDataReader as fdr

In [170]:
# 모든 날짜 채워주기 (2016-01-01 ~ 2022-03-31)
def fill_date(df):
    
    # 날짜로 묶기
    df = df.groupby('날짜')['뉴스제목'].sum().to_frame()
    
    # 모든 날짜 채우기
    idx = pd.date_range('2016-01-01','2022-03-31')
    df.index = pd.DatetimeIndex(df.index)
    df = df.reindex(idx, fill_value= '')
    
    return df

In [171]:
# 한글,영어만 남기기
def clean_text(docs):
    docs = re.sub('[^가-힣A-Za-z ]', '', docs)
    docs = re.sub('\s+', ' ', docs)
    docs = '' if docs== ' ' else docs
    return docs

In [172]:
# 띄어쓰기
def spacing_text(docs):
    spacing = Spacing()
    docs = spacing(docs)
    return docs

In [173]:
# 명사 추출
def han_noun(docs):
    han = Hannanum()
    docs = han.nouns(docs)
    return docs

In [174]:
# 불용어 제거+ 한글자 이상만 남기기
stw_list = pd.read_csv('./data/stopwords-ko.txt')
def remove_stwords(docs):
    docs = [w for w in docs if not w in stw_list]
    docs = '' if docs== ' ' else docs
    docs = [w for w in docs if len(w)>1]
    return docs

In [25]:
df = pd.read_csv('./data/개별기업뉴스_전처리/AJ네트웍스.csv',index_col=0)
print(len(df))
df.head()

907

,날짜,뉴스제목,뉴스요약
1313,2016-01-04,"AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'",AJ네트웍스가 SK브로드밴드를 통해 진행중인 '스마트렌탈'의 위약금 규정 및 취급상...
1312,2016-01-05,"AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작","국내 IT기기 렌탈의 선두주자인 AJ네트웍스에서 Mobile Device(스마트폰,..."
1311,2016-01-06,"AJ네트웍스, 스마트폰, 태블릿PC 등 Mobile Device 렌탈 사업 시작","국내 IT기기 렌탈의 선두주자인 AJ네트웍스에서 Mobile Device(스마트폰,..."
1332,2016-01-13,"AJ네트웍스, 파렛트및 고소장비 렌탈 신규 서비스 브랜드 런칭",AJ네트웍스(사장 반채운)가 파렛트와 고소장비 렌탈 부문의 신규 서비스 브랜드를 런...
1335,2016-01-22,대상·AJ네트웍스 등 비우량채도 잇달아 발행 성공,신용등급이 BBB+인 AJ네트웍스도 회사채 발행을 위해 지난 20일 투자자들을 대상...

In [27]:
df = fill_date(df)
df.head()

                                       뉴스제목
2016-01-01
2016-01-02
2016-01-03
2016-01-04  AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'
2016-01-05      AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작

In [4]:
df_n = df.groupby('날짜')['뉴스제목'].sum().to_frame()

In [11]:
df_n['뉴스'] = df_n['뉴스제목'].apply(clean_text)
df_n.head()

,뉴스제목,뉴스
날짜,,
2016-01-04,"AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'",AJ네트웍스 SKB 등에업고 고리사채급 위약금 폭탄
2016-01-05,"AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작",AJ네트웍스 스마트폰 태블릿PC 렌탈사업 시작
2016-01-06,"AJ네트웍스, 스마트폰, 태블릿PC 등 Mobile Device 렌탈 사업 시작",AJ네트웍스 스마트폰 태블릿PC 등 Mobile Device 렌탈 사업 시작
2016-01-13,"AJ네트웍스, 파렛트및 고소장비 렌탈 신규 서비스 브랜드 런칭",AJ네트웍스 파렛트및 고소장비 렌탈 신규 서비스 브랜드 런칭
2016-01-22,대상·AJ네트웍스 등 비우량채도 잇달아 발행 성공,대상AJ네트웍스 등 비우량채도 잇달아 발행 성공

In [13]:
df_n['뉴스'] = df_n['뉴스'].apply(spacing_text)
df_n['뉴스'].head()

날짜
2016-01-04                 AJ네트웍스 SKB 등에 업고 고리 사채급 위약금 폭탄
2016-01-05                     AJ네트웍스 스마트폰 태블릿PC 렌탈 사업 시작
2016-01-06    AJ네트웍스 스마트폰 태블릿PC 등 Mobile Dev ice 렌탈 사업 시작
2016-01-13             AJ네트웍스 파렛트 및 고소장비 렌탈 신규 서비스 브랜드 런칭
2016-01-22                    대상 AJ네트웍스 등 비우량채도 잇달아 발행 성공
Name: 뉴스, dtype: object

In [19]:
df_n['뉴스'] = df_n['뉴스'].apply(han_noun)
df_n.head()

,뉴스제목,뉴스
날짜,,
2016-01-04,"AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'","[AJ네트웍스, 등, 사채급, 위약금, 폭탄]"
2016-01-05,"AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작","[AJ네트웍스, 스마트폰, 태블릿PC, 렌탈, 사업, 시작]"
2016-01-06,"AJ네트웍스, 스마트폰, 태블릿PC 등 Mobile Device 렌탈 사업 시작","[AJ네트웍스, 스마트폰, 태블릿PC, 등, 렌탈, 사업, 시작]"
2016-01-13,"AJ네트웍스, 파렛트및 고소장비 렌탈 신규 서비스 브랜드 런칭","[AJ네트웍스, 파렛트, 고소장비, 렌탈, 신규, 서비스, 브랜드, 런칭]"
2016-01-22,대상·AJ네트웍스 등 비우량채도 잇달아 발행 성공,"[대상, AJ네트웍스, 등, 우량채, 발행, 성공]"

In [21]:
df_n['뉴스'] = df_n['뉴스'].apply(remove_stwords)
df_n.head()

,뉴스제목,뉴스
날짜,,
2016-01-04,"AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'","[AJ네트웍스, 사채급, 위약금, 폭탄]"
2016-01-05,"AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작","[AJ네트웍스, 스마트폰, 태블릿PC, 렌탈, 사업, 시작]"
2016-01-06,"AJ네트웍스, 스마트폰, 태블릿PC 등 Mobile Device 렌탈 사업 시작","[AJ네트웍스, 스마트폰, 태블릿PC, 렌탈, 사업, 시작]"
2016-01-13,"AJ네트웍스, 파렛트및 고소장비 렌탈 신규 서비스 브랜드 런칭","[AJ네트웍스, 파렛트, 고소장비, 렌탈, 신규, 서비스, 브랜드, 런칭]"
2016-01-22,대상·AJ네트웍스 등 비우량채도 잇달아 발행 성공,"[대상, AJ네트웍스, 우량채, 발행, 성공]"

In [22]:
bgn_date = '2016-01-01'
end_date = '2016-02-01'

token_lst = df_n['뉴스'].loc[bgn_date:end_date]
token_lst

날짜
2016-01-04                       [AJ네트웍스, 사채급, 위약금, 폭탄]
2016-01-05            [AJ네트웍스, 스마트폰, 태블릿PC, 렌탈, 사업, 시작]
2016-01-06            [AJ네트웍스, 스마트폰, 태블릿PC, 렌탈, 사업, 시작]
2016-01-13    [AJ네트웍스, 파렛트, 고소장비, 렌탈, 신규, 서비스, 브랜드, 런칭]
2016-01-22                    [대상, AJ네트웍스, 우량채, 발행, 성공]
Name: 뉴스, dtype: object

In [24]:
kw_dict = dict()
for tokens in token_lst:

    for word in tokens:
        if not word in kw_dict.keys():
            kw_dict[word] = 1
        else:
            kw_dict[word] += 1

kw_dict = dict(sorted(kw_dict.items(), key = lambda x: x[1]))

kw_dict

{'사채급': 1,
 '위약금': 1,
 '폭탄': 1,
 '파렛트': 1,
 '고소장비': 1,
 '신규': 1,
 '서비스': 1,
 '브랜드': 1,
 '런칭': 1,
 '대상': 1,
 '우량채': 1,
 '발행': 1,
 '성공': 1,
 '스마트폰': 2,
 '태블릿PC': 2,
 '사업': 2,
 '시작': 2,
 '렌탈': 3,
 'AJ네트웍스': 5}

# 합친코드

In [37]:
df = pd.read_csv('./data/개별기업뉴스_전처리/AJ네트웍스.csv',index_col=0)
df = fill_date(df)

In [38]:
df.head()

                                       뉴스제목
2016-01-01
2016-01-02
2016-01-03
2016-01-04  AJ네트웍스, SKB 등에업고 '고리사채급 위약금 폭탄'
2016-01-05      AJ네트웍스, 스마트폰, 태블릿PC 렌탈사업 시작

In [31]:
path = './data/개별기업뉴스_전처리/'
file_list = os.listdir(path)
for file in file_list[:3]:
    corp_name = file[:-4]
    print(corp_name)

AJ네트웍스
AK홀딩스
BGF

In [53]:
db_list = pd.read_csv('./data/개별기업명_511',index_col=0)
db_list.head()

   stock_code    회사이름
0          40   KR모터스
1          50      경방
2          80   하이트진로
3         100    유한양행
4         120  CJ대한통운

## 완성코드1

In [154]:
# 완성코드

db_list = pd.read_csv('./data/개별기업명_511.csv',index_col=0)
path = './data/개별기업뉴스_전처리/'
file_list = os.listdir(path)

for file in file_list[:1]:
    corp_name = file[:-4]
    print(corp_name)
    if corp_name in db_list['회사이름'].values:
        file_path = os.path.join(path,file)
        df = pd.read_csv(file_path,index_col=0)
        df = fill_date(df)
        df['뉴스'] = df['뉴스제목'].apply(clean_text)
#         df['뉴스'] = df['뉴스제목'].apply(spacing_text)
        df['뉴스'] = df['뉴스'].apply(han_noun)
        df['뉴스'] = df['뉴스'].apply(remove_stwords)
        df.to_csv('./data/개별기업뉴스_자연어처리/{}.csv'.format(corp_name))

AJ네트웍스

## 완성코드 2: spacing 포함

In [166]:
# 완성코드

db_list = pd.read_csv('./data/개별기업명_511.csv',index_col=0)
path = './data/개별기업뉴스_전처리/'
file_list = os.listdir(path)

for file in file_list[:1]:
    corp_name = file[:-4]
    print(corp_name)
    if corp_name in db_list['회사이름'].values:
        file_path = os.path.join(path,file)
        df = pd.read_csv(file_path,index_col=0)
        df = fill_date(df)
        df['뉴스'] = df['뉴스제목'].apply(clean_text)
        df['뉴스'] = df['뉴스'].apply(spacing_text)
        df['뉴스'] = df['뉴스'].apply(han_noun)
        df['뉴스'] = df['뉴스'].apply(remove_stwords)
        df.to_csv('./data/개별기업뉴스_자연어처리_2/{}.csv'.format(corp_name))

AJ네트웍스

KeyboardInterrupt:

## 완성코드: 누락파일

In [9]:
x_list = pd.read_csv('./data/누락기업40.csv',index_col=0)
path = './data/개별기업뉴스_전처리/'
file_list = os.listdir(path)

for file in file_list[:]:
    corp_name = file[:-4]
    if corp_name in x_list['회사이름'].values:
        print(corp_name)
        
        file_path = os.path.join(path,file)
        df = pd.read_csv(file_path,index_col=0)
        df = fill_date(df)
        df['뉴스'] = df['뉴스제목'].apply(clean_text)
        df['뉴스'] = df['뉴스'].apply(han_noun)
        df['뉴스'] = df['뉴스'].apply(remove_stwords)
        df.to_csv('./data/개별기업뉴스_자연어처리/{}.csv'.format(corp_name))

동원F&B
무림P&P
세이브존I&C

## 37개 기업

In [180]:
path = './data/추가37_전처리/'
file_list = os.listdir(path)
len(file_list)

37

In [181]:
for file in file_list:
    corp_name = file[:-4]
    file_path = os.path.join(path,file)
    df = pd.read_csv(file_path,index_col=0)
    df.columns=['날짜','뉴스제목','뉴스요약']
    df = fill_date(df)
    df['뉴스'] = df['뉴스제목'].apply(clean_text)
    df['뉴스'] = df['뉴스'].apply(han_noun)
    df['뉴스'] = df['뉴스'].apply(remove_stwords)
    df.to_csv('./data/추가37_자연어처리/{}.csv'.format(corp_name))

## 용량적은거

In [ ]:
path = './data/temp/'
file_list = os.listdir(path)
for file in file_list:
    corp_name = file[:-4]
    file_path = os.path.join(path,file)
    df = pd.read_csv(file_path,index_col=0)
    df.columns=['날짜','뉴스제목','뉴스요약']
    df = fill_date(df)
    df['뉴스'] = df['뉴스제목'].apply(clean_text)
    df['뉴스'] = df['뉴스'].apply(han_noun)
    df['뉴스'] = df['뉴스'].apply(remove_stwords)
    df.to_csv('./data//{}.csv'.format(corp_name))

In [45]:
db_list = pd.read_csv('./data/DB_list_stock_code.csv',index_col=0)
db_list['stock_code'] = db_list['stock_code'].apply(lambda x: str(x).zfill(6))
db_list

    stock_code
0       000040
1       000050
2       000080
3       000100
4       000120
..         ...
506     214330
507     214420
508     226320
509     227840
510     900140

[511 rows x 1 columns]

In [50]:
len(corp_list)

511

# 누락기업 자연어처리

In [11]:
df_x = pd.read_csv('./data/누락기업40.csv',index_col=0)
df_x.head()

      회사이름
13   삼화페인트
50    DI동일
59   삼화콘덴서
68  한국수출포장
80    아모레G

In [12]:
# 완성코드
db_list = pd.read_csv('./data/개별기업명_511.csv',index_col=0)
path = './data/개별기업뉴스_전처리/'
file_list = os.listdir(path)
file_list

['AJ네트웍스.csv',
 'AK홀딩스.csv',
 'BGF.csv',
 'BGF리테일.csv',
 'BNK금융지주.csv',
 'BYC.csv',
 'CJ CGV.csv',
 'CJ.csv',
 'CJ대한통운.csv',
 'CJ씨푸드.csv',
 'CJ제일제당.csv',
 'CS홀딩스.csv',
 'DB.csv',
 'DB금융투자.csv',
 'DB손해보험.csv',
 'DB하이텍.csv',
 'DGB금융지주.csv',
 'DL.csv',
 'DL건설.csv',
 'DL이앤씨.csv',
 'DRB동일.csv',
 'DSR.csv',
 'DSR제강.csv',
 'E1.csv',
 'ESR켄달스퀘어리츠.csv',
 'F&F 홀딩스.csv',
 'F&F.csv',
 'GKL.csv',
 'GS.csv',
 'GS건설.csv',
 'GS글로벌.csv',
 'GS리테일.csv',
 'HDC.csv',
 'HDC랩스.csv',
 'HDC현대EP.csv',
 'HDC현대산업개발.csv',
 'HD현대.csv',
 'HJ중공업.csv',
 'HLB글로벌.csv',
 'HMM.csv',
 'HSD엔진.csv',
 'JB금융지주.csv',
 'JW생명과학.csv',
 'JW중외제약.csv',
 'JW홀딩스.csv',
 'KB금융.csv',
 'KC그린홀딩스.csv',
 'KC코트렐.csv',
 'KEC.csv',
 'KG스틸.csv',
 'KG케미칼.csv',
 'KH 필룩스.csv',
 'KISCO홀딩스.csv',
 'KPX케미칼.csv',
 'KPX홀딩스.csv',
 'KR모터스.csv',
 'KSS해운.csv',
 'KT.csv',
 'KTis.csv',
 'LF.csv',
 'LG.csv',
 'LG디스플레이.csv',
 'LG생활건강.csv',
 'LG에너지솔루션.csv',
 'LG유플러스.csv',
 'LG이노텍.csv',
 'LG전자.csv',
 'LG헬로비전.csv',
 'LG화학.csv',
 'LIG넥스원.csv',
 'LS.csv',
 'LS네트웍스.csv',
 'LS전선아시아.csv',
 'LX인터내셔널.csv',
 'LX하우시스.csv',
 'LX홀딩스.csv',
 'MH에탄올.csv',
 'NAVER.csv',
 'NH올원리츠.csv',
 'NH투자증권.csv',
 'NH프라임리츠.csv',
 'NICE.csv',
 'NI스틸.csv',
 'OCI.csv',
 'PI첨단소재.csv',
 'POSCO홀딩스.csv',
 'S-Oil.csv',
 'SBS.csv',
 'SGC에너지.csv',
 'SG글로벌.csv',
 'SG세계물산.csv',
 'SHD.csv',
 'SH에너지화학.csv',
 'SIMPAC.csv',
 'SK.csv',
 'SKC.csv',
 'SK가스.csv',
 'SK네트웍스.csv',
 'SK디스커버리.csv',
 'SK디앤디.csv',
 'SK렌터카.csv',
 'SK리츠.csv',
 'SK바이오사이언스.csv',
 'SK스퀘어.csv',
 'SK아이이테크놀로지.csv',
 'SK이노베이션.csv',
 'SK증권.csv',
 'SK케미칼.csv',
 'SK텔레콤.csv',
 'SK하이닉스.csv',
 'SNT모티브.csv',
 'SNT에너지.csv',
 'SNT중공업.csv',
 'SNT홀딩스.csv',
 'SPC삼립.csv',
 'STX.csv',
 'STX엔진.csv',
 'STX중공업.csv',
 'SUN&L.csv',
 'TCC스틸.csv',
 'TYM.csv',
 'WISCOM.csv',
 'YG PLUS.csv',
 '가온전선.csv',
 '강남제비스코.csv',
 '강원랜드.csv',
 '갤럭시아에스엠.csv',
 '경농.csv',
 '경동나비엔.csv',
 '경동도시가스.csv',
 '경동인베스트.csv',
 '경방.csv',
 '경보제약.csv',
 '경인양행.csv',
 '경인전자.csv',
 '계룡건설산업.csv',
 '계양전기.csv',
 '고려산업.csv',
 '고려아연.csv',
 '고려제강.csv',
 '광동제약.csv',
 '광명전기.csv',
 '광전자.csv',
 '광주신세계.csv',
 '교보증권.csv',
 '교촌에프앤비.csv',
 '국도화학.csv',
 '국동.csv',
 '국보.csv',
 '국제약품.csv',
 '그린케미칼.csv',
 '극동유화.csv',
 '금강공업.csv',
 '금비.csv',
 '금양.csv',
 '금호건설.csv',
 '금호석유화학.csv',
 '금호에이치티.csv',
 '금호전기.csv',
 '금호타이어.csv',
 '기신정기.csv',
 '기아.csv',
 '기업은행.csv',
 '까뮤이앤씨.csv',
 '깨끗한나라.csv',
 '남광토건.csv',
 '남선알미늄.csv',
 '남성.csv',
 '남양유업.csv',
 '남해화학.csv',
 '넥센.csv',
 '넥센타이어.csv',
 '넷마블.csv',
 '노루페인트.csv',
 '노루홀딩스.csv',
 '녹십자.csv',
 '녹십자홀딩스.csv',
 '농심.csv',
 '농심홀딩스.csv',
 '다스코.csv',
 '다올투자증권.csv',
 '다우기술.csv',
 '다이나믹디자인.csv',
 '대교.csv',
 '대구백화점.csv',
 '대덕.csv',
 '대덕전자.csv',
 '대동.csv',
 '대동전자.csv',
 '대림비앤코.csv',
 '대림통상.csv',
 '대상.csv',
 '대상홀딩스.csv',
 '대성산업.csv',
 '대성에너지.csv',
 '대성홀딩스.csv',
 '대신증권.csv',
 '대양금속.csv',
 '대영포장.csv',
 '대우건설.csv',
 '대우부품.csv',
 '대우조선해양.csv',
 '대웅.csv',
 '대웅제약.csv',
 '대원강업.csv',
 '대원전선.csv',
 '대원제약.csv',
 '대원화성.csv',
 '대유에이텍.csv',
 '대유플러스.csv',
 '대창.csv',
 '대창단조.csv',
 '대한방직.csv',
 '대한유화.csv',
 '대한전선.csv',
 '대한제강.csv',
 '대한제당.csv',
 '대한제분.csv',
 '대한항공.csv',
 '대한해운.csv',
 '대한화섬.csv',
 '대현.csv',
 '대호에이엘.csv',
 '더블유게임즈.csv',
 '더존비즈온.csv',
 '덕성.csv',
 '덕양산업.csv',
 '덴티움.csv',
 '도화엔지니어링.csv',
 '동국제강.csv',
 '동남합성.csv',
 '동방.csv',
 '동방아그로.csv',
 '동부건설.csv',
 '동서.csv',
 '동성제약.csv',
 '동성케미컬.csv',
 '동아쏘시오홀딩스.csv',
 '동아에스티.csv',
 '동아지질.csv',
 '동아타이어.csv',
 '동양.csv',
 '동양고속.csv',
 '동양생명.csv',
 '동양철관.csv',
 '동양피스톤.csv',
 '동원F&B.csv',
 '동원금속.csv',
 '동원산업.csv',
 '동원수산.csv',
 '동원시스템즈.csv',
 '동일고무벨트.csv',
 '동일산업.csv',
 '동일제강.csv',
 '동화약품.csv',
 '두산.csv',
 '두산밥캣.csv',
 '두산에너빌리티.csv',
 '두산퓨얼셀.csv',
 '두올.csv',
 '드림텍.csv',
 '디씨엠.csv',
 '디아이.csv',
 '디아이동일.csv',
 '디아이씨.csv',
 '디앤디플랫폼리츠.csv',
 '디와이.csv',
 '디와이파워.csv',
 '디티알오토모티브.csv',
 '락앤락.csv',
 '롯데관광개발.csv',
 '롯데렌탈.csv',
 '롯데리츠.csv',
 '롯데손해보험.csv',
 '롯데쇼핑.csv',
 '롯데정밀화학.csv',
 '롯데정보통신.csv',
 '롯데제과.csv',
 '롯데지주.csv',
 '롯데칠성음료.csv',
 '롯데케미칼.csv',
 '롯데푸드.csv',
 '롯데하이마트.csv',
 '마니커.csv',
 '만도.csv',
 '만호제강.csv',
 '맥쿼리인프라.csv',
 '맵스리얼티1.csv',
 '메리츠금융지주.csv',
 '메리츠증권.csv',
 '메리츠화재.csv',
 '메타랩스.csv',
 '명문제약.csv',
 '명신산업.csv',
 '모나리자.csv',
 '모나미.csv',
 '모두투어리츠.csv',
 '모토닉.csv',
 '무림P&P.csv',
 '무림페이퍼.csv',
 '무학.csv',
 '문배철강.csv',
 '미래산업.csv',
 '미래아이앤지.csv',
 '미래에셋글로벌리츠.csv',
 '미래에셋맵스리츠.csv',
 '미래에셋생명.csv',
 '미래에셋증권.csv',
 '미원상사.csv',
 '미원에스씨.csv',
 '미원홀딩스.csv',
 '미원화학.csv',
 '미창석유공업.csv',
 '바다로19호.csv',
 '방림.csv',
 '백광산업.csv',
 '백산.csv',
 '범양건영.csv',
 '베트남개발1.csv',
 '벽산.csv',
 '보락.csv',
 '보령.csv',
 '보해양조.csv',
 '부광약품.csv',
 '부국증권.csv',
 '부국철강.csv',
 '부산산업.csv',
 '부산주공.csv',
 '비비안.csv',
 '비상교육.csv',
 '비케이탑스.csv',
 '빙그레.csv',
 '사조대림.csv',
 '사조동아원.csv',
 '사조산업.csv',
 '사조씨푸드.csv',
 '사조오양.csv',
 '삼부토건.csv',
 '삼성SDI.csv',
 '삼성공조.csv',
 '삼성물산.csv',
 '삼성바이오로직스.csv',
 '삼성생명.csv',
 '삼성에스디에스.csv',
 '삼성엔지니어링.csv',
 '삼성전기.csv',
 '삼성전자.csv',
 '삼성제약.csv',
 '삼성중공업.csv',
 '삼성증권.csv',
 '삼성출판사.csv',
 '삼성카드.csv',
 '삼성화재해상보험.csv',
 '삼아알미늄.csv',
 '삼양사.csv',
 '삼양식품.csv',
 '삼양통상.csv',
 '삼양패키징.csv',
 '삼양홀딩스.csv',
 '삼영무역.csv',
 '삼영전자공업.csv',
 '삼영화학공업.csv',
 '삼원강재.csv',
 '삼익THK.csv',
 '삼익악기.csv',
 '삼일씨엔에스.csv',
 '삼일제약.csv',
 '삼정펄프.csv',
 '삼진제약.csv',
 '삼천리.csv',
 '삼호개발.csv',
 '삼화왕관.csv',
 '삼화전기.csv',
 '삼화전자공업.csv',
 '삼화콘덴서공업.csv',
 '삼화페인트공업.csv',
 '상상인증권.csv',
 '상신브레이크.csv',
 '새론오토모티브.csv',
 '샘표.csv',
 '샘표식품.csv',
 '서연.csv',
 '서연이화.csv',
 '서울도시가스.csv',
 '서울식품공업.csv',
 '서원.csv',
 '서흥.csv',
 '선도전기.csv',
 '선진.csv',
 '성문전자.csv',
 '성보화학.csv',
 '성신양회.csv',
 '성안.csv',
 '성창기업지주.csv',
 '세기상사.csv',
 '세방.csv',
 '세방전지.csv',
 '세아베스틸지주.csv',
 '세아제강.csv',
 '세아제강지주.csv',
 '세아특수강.csv',
 '세아홀딩스.csv',
 '세우글로벌.csv',
 '세원이앤씨.csv',
 '세원정공.csv',
 '세이브존I&C.csv',
 '세종공업.csv',
 '세진중공업.csv',
 '세하.csv',
 '센트랄모텍.csv',
 '센트럴인사이트.csv',
 '셀트리온.csv',
 '솔루스첨단소재.csv',
 '솔루엠.csv',
 '송원산업.csv',
 '수산중공업.csv',
 '스틱인베스트먼트.csv',
 '시디즈.csv',
 '신대양제지.csv',
 '신도리코.csv',
 '신라교역.csv',
 '신성이엔지.csv',
 '신성통상.csv',
 '신세계.csv',
 '신세계I&C.csv',
 '신세계건설.csv',
 '신세계인터내셔날.csv',
 '신세계푸드.csv',
 '신송홀딩스.csv',
 '신영와코루.csv',
 '신영증권.csv',
 '신원.csv',
 '신일전자.csv',
 '신풍제약.csv',
 '신풍제지.csv',
 '신한서부티엔디리츠.csv',
 '신한알파리츠.csv',
 '신한지주.csv',
 '신흥.csv',
 '쌍방울.csv',
 '쌍용씨앤이.csv',
 '쌍용자동차.csv',
 '써니전자.csv',
 '쎌마테라퓨틱스.csv',
 '씨아이테크.csv',
 '씨에스윈드.csv',
 '아남전자.csv',
 '아모레퍼시픽.csv',
 '아모레퍼시픽그룹.csv',
 '아세아.csv',
 '아세아시멘트.csv',
 '아세아제지.csv',
 '아센디오.csv',
 '아시아나IDT.csv',
 '아시아나항공.csv',
 '아이마켓코리아.csv',
 '아이에스동서.csv',
 '아이에이치큐.csv',
 '아주스틸.csv',
 '알루코.csv',
 '애경산업.csv',
 '애경케미칼.csv',
 '에넥스.csv',
 '에스디바이오센서.csv',
 '에스엘.csv',
 '에스엠벡셀.csv',
 '에스원.csv',
 '에스제이엠.csv',
 '에스제이엠홀딩스.csv',
 '에스케이바이오팜.csv',
 '에쓰씨엔지니어링.csv',
 '에어부산.csv',
 '에이리츠.csv',
 '에이블씨엔씨.csv',
 '에이엔피.csv',
 '에이프로젠 MED.csv',
 '에이프로젠제약.csv',
 '에이플러스에셋.csv',
 '엔씨소프트.csv',
 '엔에이치스팩19호.csv',
 '엔에이치엔.csv',
 '엔케이.csv',
 '엔피씨.csv',
 '엘브이엠씨.csv',
 '엘에스일렉트릭.csv',
 '엠씨넥스.csv',
 '영보화학.csv',
 '영원무역.csv',
 '영원무역홀딩스.csv',
 '영진약품.csv',
 '영풍.csv',
 '영풍제지.csv',
 '영화금속.csv',
 '영흥.csv',
 '예스코홀딩스.csv',
 '오뚜기.csv',
 '오리엔트바이오.csv',
 '오리온.csv',
 '오리온홀딩스.csv',
 '와이투솔루션.csv',
 '용평리조트.csv',
 '우리금융지주.csv',
 '우리종금.csv',
 '우성.csv',
 '우신시스템.csv',
 '우진.csv',
 '우진아이엔에스.csv',
 '우진플라임.csv',
 '웅진.csv',
 '웅진씽크빅.csv',
 '원림.csv',
 '웰바이오텍.csv',
 '윌비스.csv',
 '유나이티드.csv',
 '유니드.csv',
 '유니온.csv',
 '유니온머티리얼.csv',
 '유니켐.csv',
 '유니퀘스트.csv',
 '유성기업.csv',
 '유수홀딩스.csv',
 '유안타증권.csv',
 '유엔젤.csv',
 '유유제약.csv',
 '유진증권.csv',
 '유한양행.csv',
 '유화증권.csv',
 '율촌화학.csv',
 '이건산업.csv',
 '이구산업.csv',
 '이노션.csv',
 '이리츠코크렙.csv',
 '이마트.csv',
 '이수페타시스.csv',
 '이수화학.csv',
 '이스타코.csv',
 '이아이디.csv',
 '이엔플러스.csv',
 '이연제약.csv',
 '이월드.csv',
 '이지스레지던스리츠.csv',
 '이지스밸류플러스리츠.csv',
 '이화산업.csv',
 '인디에프.csv',
 '인바이오젠.csv',
 '인스코비.csv',
 '인지컨트롤스.csv',
 '인천도시가스.csv',
 '인터지스.csv',
 '인팩.csv',
 '일동제약.csv',
 '일동홀딩스.csv',
 '일성건설.csv',
 '일성신약.csv',
 '일신방직.csv',
 '일신석재.csv',
 '일양약품.csv',
 '일정실업.csv',
 '일진다이아.csv',
 '일진디스플.csv',
 '일진머티리얼즈.csv',
 '일진전기.csv',
 '일진하이솔루스.csv',
 '일진홀딩스.csv',
 '잇츠한불.csv',
 '자이에스앤디.csv',
 '자화전자.csv',
 '전방.csv',
 '제이알글로벌리츠.csv',
 '제이에스코퍼레이션.csv',
 '제이준코스메틱.csv',
 '제일기획.csv',
 '제일약품.csv',
 '제일연마.csv',
 '제일파마홀딩스.csv',
 '제주은행.csv',
 '제주항공.csv',
 '조광페인트.csv',
 '조광피혁.csv',
 '조비.csv',
 '조선내화.csv',
 '조선선재.csv',
 '조일알미늄.csv',
 '조흥.csv',
 '종근당.csv',
 '종근당바이오.csv',
 '종근당홀딩스.csv',
 '주연테크.csv',
 '지누스.csv',
 '지엠비코리아.csv',
 '지역난방공사.csv',
 '지투알.csv',
 '진도.csv',
 '진양산업.csv',
 '진양폴리우레탄.csv',
 '진양홀딩스.csv',
 '진양화학.csv',
 '진에어.csv',
 '진원생명과학.csv',
 '진흥기업.csv',
 '참엔지니어링.csv',
 '천일고속.csv',
 '체시스.csv',
 '초록뱀헬스케어.csv',
 '카카오.csv',
 '카카오뱅크.csv',
 '카카오페이.csv',
 '카프로.csv',
 '컨버즈.csv',
 '케이비아이동국실업.csv',
 '케이씨.csv',
 '케이씨씨.csv',
 '케이씨씨글라스.csv',
 '케이씨텍.csv',
 '케이씨티시.csv',
 '케이카.csv',
 '케이탑리츠.csv',
 '케이티.csv',
 '케이티스카이라이프.csv',
 '케이티앤지.csv',
 '코람코더원리츠.csv',
 '코람코에너지리츠.csv',
 '코리아써키트.csv',
 '코리안리.csv',
 '코스맥스.csv',
 '코스맥스비티아이.csv',
 '코스모신소재.csv',
 '코스모화학.csv',
 '코아스.csv',
 '코오롱.csv',
 '코오롱글로벌.csv',
 '코오롱인더.csv',
 '코오롱플라스틱.csv',
 '코웨이.csv',
 '콘텐트리중앙.csv',
 '콤텍시스템.csv',
 '쿠쿠홀딩스.csv',
 '쿠쿠홈시스.csv',
 '큐로.csv',
 '크라운제과.csv',
 '크라운해태홀딩스.csv',
 '크래프톤.csv',
 '키다리스튜디오.csv',
 '키움증권.csv',
 '태경비케이.csv',
 '태경산업.csv',
 '태경케미컬.csv',
 '태광산업.csv',
 '태림포장.csv',
 '태양금속공업.csv',
 '태영건설.csv',
 '태원물산.csv',
 '태평양물산.csv',
 '테이팩스.csv',
 '텔코웨어.csv',
 '토니모리.csv',
 '티비에이치글로벌.csv',
 '티에이치엔.csv',
 '티와이홀딩스.csv',
 '티웨이항공.csv',
 '티웨이홀딩스.csv',
 '티케이지휴켐스.csv',
 '파미셀.csv',
 '팜스코.csv',
 '팜젠사이언스.csv',
 '팬오션.csv',
 '퍼스텍.csv',
 '퍼시스.csv',
 '페이퍼코리아.csv',
 '평화산업.csv',
 '평화홀딩스.csv',
 '포스코스틸리온.csv',
 '포스코인터내셔널.csv',
 '포스코케미칼.csv',
 '풀무원.csv',
 '풍산.csv',
 '풍산홀딩스.csv',
 '프레스티지바이오파마.csv',
 '플레이그램.csv',
 '하나금융지주.csv',
 '하나제약.csv',
 '하나투어.csv',
 '하이브.csv',
 '하이스틸.csv',
 '하이트론씨스템즈.csv',
 '하이트진로.csv',
 '하이트진로홀딩스.csv',
 '한국ANKOR유전.csv',
 '한국가스공사.csv',
 '한국공항.csv',
 '한국금융지주.csv',
 '한국내화.csv',
 '한국단자공업.csv',
 '한국석유공업.csv',
 '한국수출포장공업.csv',
 '한국쉘석유.csv',
 '한국앤컴퍼니.csv',
 '한국자산신탁.csv',
 '한국전력공사.csv',
 '한국전자홀딩스.csv',
 '한국조선해양.csv',
 '한국종합기술.csv',
 '한국주강.csv',
 '한국주철관공업.csv',
 '한국철강.csv',
 '한국카본.csv',
 '한국콜마.csv',
 '한국콜마홀딩스.csv',
 '한국타이어앤테크놀로지.csv',
 '한국토지신탁.csv',
 '한국특강.csv',
 '한국패러랠.csv',
 '한국프랜지공업.csv',
 '한국항공우주.csv',
 '한국화장품.csv',
 '한국화장품제조.csv',
 '한농화성.csv',
 '한독.csv',
 '한라.csv',
 '한라홀딩스.csv',
 '한미글로벌.csv',
 '한미반도체.csv',
 '한미사이언스.csv',
 '한미약품.csv',
 '한샘.csv',
 '한섬.csv',
 '한성기업.csv',
 '한세실업.csv',
 '한세엠케이.csv',
 '한세예스24홀딩스.csv',
 '한솔로지스틱스.csv',
 '한솔제지.csv',
 '한솔케미칼.csv',
 '한솔테크닉스.csv',
 '한솔피엔에스.csv',
 '한솔홀딩스.csv',
 '한솔홈데코.csv',
 '한신공영.csv',
 '한신기계공업.csv',
 '한양증권.csv',
 '한온시스템.csv',
 '한올바이오파마.csv',
 '한익스프레스.csv',
 '한일시멘트.csv',
 '한일철강.csv',
 '한일현대시멘트.csv',
 '한일홀딩스.csv',
 '한전KPS.csv',
 '한전기술.csv',
 '한전산업.csv',
 '한진.csv',
 '한진중공업홀딩스.csv',
 '한진칼.csv',
 '한창.csv',
 '한창제지.csv',
 '한컴라이프케어.csv',
 '한화.csv',
 '한화생명.csv',
 '한화손해보험.csv',
 '한화솔루션.csv',
 '한화시스템.csv',
 '한화에어로스페이스.csv',
 '한화투자증권.csv',
 '해성디에스.csv',
 '해태제과식품.csv',
 '핸즈코퍼레이션.csv',
 '현대건설.csv',
 '현대건설기계.csv',
 '현대그린푸드.csv',
 '현대글로비스.csv',
 '현대두산인프라코어.csv',
 '현대로템.csv',
 '현대리바트.csv',
 '현대모비스.csv',
 '현대미포조선.csv',
 '현대백화점.csv',
 '현대비앤지스틸.csv',
 '현대약품.csv',
 '현대에너지솔루션.csv',
 '현대엘리베이터.csv',
 '현대오토에버.csv',
 '현대위아.csv',
 '현대일렉트릭.csv',
 '현대자동차.csv',
 '현대제철.csv',
 '현대중공업.csv',
 '현대차증권.csv',
 '현대코퍼레이션.csv',
 '현대코퍼레이션홀딩스.csv',
 '현대퓨처넷.csv',
 '현대해상.csv',
 '현대홈쇼핑.csv',
 '형지엘리트.csv',
 '혜인.csv',
 '호전실업.csv',
 '호텔신라.csv',
 '화성산업.csv',
 '화승알앤에이.csv',
 '화승엔터프라이즈.csv',
 '화승인더스트리.csv',
 '화승코퍼레이션.csv',
 '화신.csv',
 '화인베스틸.csv',
 '화천기계.csv',
 '화천기공.csv',
 '환인제약.csv',
 '황금에스티.csv',
 '효성 ITX.csv',
 '효성.csv',
 '효성중공업.csv',
 '효성첨단소재.csv',
 '효성티앤씨.csv',
 '효성화학.csv',
 '후성.csv',
 '휠라홀딩스.csv',
 '휴니드테크놀러지스.csv',
 '휴비스.csv',
 '휴스틸.csv',
 '흥국화재.csv',
 '흥아해운.csv']

In [21]:
df511 = pd.Series(file_list).to_frame()
df511.head()

             0
0   AJ네트웍스.csv
1    AK홀딩스.csv
2      BGF.csv
3   BGF리테일.csv
4  BNK금융지주.csv

In [55]:
# 완성코드
df_820 = pd.read_csv('./data/개별기업공시_전처리',index_col=0)

path = './data/개별기업공시_전처리/'
file_list = os.listdir(path)
file_list

# 누락40
x_list = pd.read_csv('./data/누락기업40.csv',index_col=0)

df_x1 = pd.DataFrame()
for file in file_list:
    corp = file[:-4]
    
    for corp in x_list['회사이름'].tolist() :
        
        df_xx = df_820[df_820['회사이름'].str.contains(corp)]
        df_x1 = pd.concat([df_x1,df_xx])
df_x1

PermissionError: [Errno 13] Permission denied: './data/개별기업공시_전처리'

In [51]:
x_list['회사이름'].tolist()[0]

'삼화페인트'

In [69]:
pd.Series(file_list)[pd.Series(file_list).str.contains('쌍용')]

440    쌍용씨앤이.csv
441    쌍용자동차.csv
dtype: object

In [30]:
# 완성코드: 누락파일
x_list = pd.read_csv('./data/누락기업40.csv',index_col=0)
x_list

            회사이름
13         삼화페인트
50          DI동일
59         삼화콘덴서
68        한국수출포장
80          아모레G
101        쌍용C&E
105          IHQ
107          쌍용차
109         삼영화학
118         한국석유
119         태양금속
123          NPC
148         롯데칠성
151          현대차
156         삼영전자
159       대림B&Co
169         화승인더
198       F&F홀딩스
209         KCTC
224        무림P&P
230        한국프랜지
231  LS ELECTRIC
247         삼화전자
253         한신기계
255         금호석유
275         계룡건설
291         한국전력
301         서울가스
304       현대엘리베이
331       SJM홀딩스
332         한국단자
346           KT
358         KT&G
389        동원F&B
394       스카이라이프
405      세이브존I&C
409       TKG휴켐스
450        효성ITX
476          SJM
510     엘브이엠씨홀딩스

In [ ]:
for file in file_list[:]:
    corp_name = file[:-4]
    if corp_name in x_list['회사이름'].values:
        print(corp_name)
        
        file_path = os.path.join(path,file)
        df = pd.read_csv(file_path,index_col=0)
        df = fill_date(df)
        df['뉴스'] = df['뉴스제목'].apply(clean_text)
        df['뉴스'] = df['뉴스'].apply(han_noun)
        df['뉴스'] = df['뉴스'].apply(remove_stwords)
        df.to_csv('./data/개별기업뉴스_자연어처리/{}.csv'.format(corp_name))

In [74]:
df_c = pd.read_csv('./data/누락기업40수정.csv',index_col=0).dropna()
len(df_c)

29

## 820개 기업이름

### 기존파일: df_kospi

In [104]:
df_kospi = pd.read_csv('./data/kospi_list.csv',index_col=0)
ser11 = pd.Series(df_kospi['corp_name'])

In [111]:
df_kospi[df_kospi['Name']=='삼화페인트']

,corp_code,corp_name,stock_code,modify_date,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
748,129387,삼화페인트공업,390,20220512,390,KOSPI,삼화페인트,기타 화학제품 제조업,"건축용페인트,공업용페인트,분체도료 등 제조",1993-09-10,12월,"오진수,류기붕(각자대표)",http://www.samhwa.com,경기도

In [112]:
df_kospi[df_kospi['Name']=='삼화페인트공업']

Empty DataFrame
Columns: [corp_code, corp_name, stock_code, modify_date, Symbol, Market, Name, Sector, Industry, ListingDate, SettleMonth, Representative, HomePage, Region]
Index: []

### 현재 fdr: df_820

In [98]:
df_krx = fdr.StockListing('KRX')
df_kospi1 = df_krx[df_krx['Market']=='KOSPI']
df_kospi1

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8240,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8241,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8242,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
8244,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8245,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [117]:
df_820 = df_kospi1.dropna(subset=['Sector'])
df_820.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
54,027410,KOSPI,BGF,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
55,282330,KOSPI,BGF리테일,종합 소매업,체인화 편의점,2017-12-08,12월,이건준,http://www.bgfretail.com,서울특별시
57,138930,KOSPI,BNK금융지주,기타 금융업,금융지주회사,2011-03-30,12월,김지완,http://www.bnkfg.com,부산광역시

In [113]:
df_kospi1[df_kospi1['Name']=='삼화페인트']

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
4453,000390,KOSPI,삼화페인트,기타 화학제품 제조업,"건축용페인트,공업용페인트,분체도료 등 제조",1993-09-10,12월,"오진수,류기붕(각자대표)",http://www.samhwa.com,경기도

In [118]:
ser_r = pd.Series(df_820['Name'])

### 이름 다른 기업 모음 : df_ya

In [124]:
df_ya = ser11[~ser11.isin(ser_r)].to_frame()
df_ya.head()

   corp_name
9     태양금속공업
41   진양폴리우레탄
48    효성 ITX
62    삼영화학공업
77  하이트론씨스템즈

In [125]:
len(ser11[~ser11.isin(ser_r)])

54

In [138]:
code_list = []
for name in df_ya['corp_name'].tolist():
    if name in df_kospi['corp_name'].tolist():
        code = df_kospi[df_kospi['corp_name']==name]['Symbol'].iloc[0]
        code_list.append(code)
code_list

[4100,
 10640,
 94280,
 3720,
 19490,
 1200,
 3410,
 11230,
 970,
 1820,
 1530,
 344820,
 11780,
 2200,
 810,
 4250,
 5300,
 33780,
 33270,
 25540,
 326030,
 3620,
 5870,
 17390,
 7700,
 4410,
 6060,
 84870,
 900140,
 5680,
 3560,
 123700,
 5750,
 10100,
 13580,
 25530,
 11700,
 3650,
 10420,
 181710,
 30200,
 17800,
 53210,
 334890,
 2380,
 5380,
 69260,
 4090,
 10120,
 9070,
 390,
 15760,
 35510,
 2790]

In [130]:
df_ya['corp_name'].tolist()[0]

'태양금속공업'

In [139]:
len(code_list)

54

In [140]:
df_ya['code'] = code_list

In [143]:
df_ya.to_csv('./data/수정해야할기업54.csv')