# 국내,고층,주변국 데이터(df_c) + 자외선(df_u)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c # 1996년 ~ 21년 8월

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,2.700000,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,-0.262500,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.062500,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,3.312500,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,5.625000,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.737500,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000
9371,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,26.957143,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500
9372,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,26.700000,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500
9373,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,25.887500,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500
9374,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,25.287500,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000

In [3]:
# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

              시간  자외선 B 일최고값
6204  2020-12-27       0.041
6205  2020-12-28       0.045
6206  2020-12-29       0.028
6207  2020-12-30       0.048
6208  2020-12-31       0.050

In [4]:
# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

시간            0
자외선 B 일최고값    0
dtype: int64

In [5]:
# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

### df_c : 국내+고층+주변국
### df_c1: 국내+고층+주변국+자외선

==================================================================================

## 통합기후+자외선(df_c1) 기간설정(2005 ~ 2019)

In [6]:
# 인덱스 설정
df_c1 = df_c1.set_index('시간')

# 구간(2000년 ~2019년)
df_c2 = df_c1.loc['2005-01-01':'2019-12-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,2.1,...,5.2500,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046
2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,2.0,...,8.7250,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042
2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,2.9,...,7.4000,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017
2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,2.9,...,-3.9500,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035
2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,3.1,...,-3.3500,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049

In [7]:
df_c2.isnull().sum().sum()

0

In [8]:
# 국내,고층,주변국 데이터(df_c) + 자외선(df_u)

import pandas as pd
import numpy as np

df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c # 1996년 ~ 21년 8월

# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1


### df_c : 국내+고층+주변국
### df_c1: 국내+고층+주변국+자외선

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

==================================================================================

## df_c2: 통합기후+자외선(df_c1) 기간설정(2005 ~ 2019)

In [9]:
# 인덱스 설정
df_c1 = df_c1.set_index('시간')

# 구간(2000년 ~2019년)
df_c2 = df_c1.loc['2005-01-01':'2019-12-31']
df_c2

df_c2.isnull().sum().sum()

0

# AI전처리

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('./data/조류인플루엔자 발생현황.csv',index_col=0)
df

,0,1,2,3,4,5,6,7
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN
...,...,...,...,...,...,...,...,...
7,고병원성조류인플루엔자,박병준,충청남도 천안시 동남구 북면 운용리,2003-12-24 (2003-12-20),오리,-,조류질병과,NaN
8,고병원성조류인플루엔자,가나안농장,전라남도 나주시 산포면 매성리,2003-12-21 (2003-12-25),오리,-,조류질병과,NaN
9,고병원성조류인플루엔자,서기환,충청북도 음성군 삼성면 용성리,2003-12-19 (2003-12-19),닭,-,조류질병과,NaN
0,고병원성조류인플루엔자,김학면,충청북도 음성군 삼성면 덕정리,2003-12-17 (2003-12-17),오리,-,조류질병과,NaN
1,고병원성조류인플루엔자,박덕규,충청북도 음성군 삼성면 용성리,2003-12-12 (2003-12-12),닭-육계,-,조류질병과,NaN

In [12]:
df.columns = ['가축전염병명','농장명(농장주)','농장소재지','발생일자','축종(품종)','발생두수(마리)','진단기관','종식일']

In [13]:
df.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN

In [14]:
# 날짜 처리

In [15]:
# 결측값 확인
df['발생일자'].isnull().sum()

0

In [16]:
df['발생일시']= df['발생일자'].apply(lambda x : x.split(' ')[0])
df['발생일시']

0    2021-12-27
1    2021-12-23
2    2021-12-20
3    2021-12-17
4    2021-12-16
        ...
7    2003-12-24
8    2003-12-21
9    2003-12-19
0    2003-12-17
1    2003-12-12
Name: 발생일시, Length: 1082, dtype: object

In [17]:
# 지역처리

In [18]:
df['농장소재지'].unique()

array(['전라북도 부안군 진서면 진서리', '세종특별자치시 부강면 등곡리', '전라남도 영암군 시종면 신학리',
       '경기도 파주시 광탄면 발랑리', '세종특별자치시 연동면 문주리', '전라남도 영암군 신북면 유곡리',
       '충청남도 아산시 음봉면 산정리', '전라남도 무안군 일로읍 복룡리', '충청남도 천안시 동남구 풍세면 가송리',
       '전라남도 영암군 삼호읍 난전리', '충청남도 천안시 동남구 풍세면 용정리', '전라남도 담양군 대덕면 비차리',
       '충청북도 음성군 금왕읍 내송리', '전라남도 나주시 세지면 송제리', '전라남도 강진군 신전면 영관리',
       '충청북도 음성군 금왕읍 각회리', '전라남도 나주시 세지면 교산리', '충청북도 음성군 금왕읍 본대리',
       '충청북도 음성군 금왕읍 신평리', '전라남도 장흥군 장평면 양촌리', '전라남도 나주시 산포면 등수리',
       '전라남도 장흥군 장평면 기동리', '충청북도 충주시 소태면 주치리', '전라남도 나주시 봉황면 옥산리',
       '경기도 포천시 영중면 거사리', '강원도 원주시 귀래면 주포리', '경기도 이천시 장호원읍 어석리',
       '경상남도 통영시 도산면 오륜리', '충청북도 괴산군 소수면 아성리', '경기도 화성시 팔탄면 구장리',
       '경상북도 영주시 장수면 호문리', '경기도 평택시 고덕면 동고리', '경기도 이천시 부발읍 가산리',
       '경기도 이천시 백사면 도립리', '제주특별자치도 제주시 한림읍 금악리', '전라남도 나주시 반남면 흥덕리',
       '경기도 평택시 팽성읍 대사리', '전라북도 부안군 주산면 사산리', '충청북도 음성군 원남면 보룡리',
       '경기도 포천시 창수면 주원리', '충청북도 괴산군 장연면 조곡리', '전라남도 영암군 시종면 신흥리',
       '충청북도 충주시 동량면 대전리', '경기도 이천시 설성면 장천리', '경기도 안성시 일죽면 신흥리',
       '경기도 안성시 공도읍 용두리', '경상북도 포항시 북구 청하면 신흥리', '경기도 용인시 처인구 백암면 장평리',
       '경기도 이천시 율면 신추리', '전라북도 고창군 아산면 학전리', '경기도 안성시 공도읍 마정리',
       '경기도 이천시 장호원읍 와현리', '전라북도 고창군 아산면 성산리', '경기도 안성시 보개면 동신리',
       '경기도 안성시 일죽면 장암리', '경기도 포천시 신북면 삼성당리', '경기도 파주시 적성면 어유지리',
       '전라남도 함평군 나산면 삼축리', '경기도 화성시 양감면 사창리', '충청남도 천안시 서북구 직산읍 수헐리',
       '전라남도 무안군 삼향읍 왕산리', '경기도 이천시 장호원읍 나래리', '충청북도 음성군 생극면 임곡리',
       '경기도 용인시 처인구 백암면 옥산리', '경상남도 하동군 옥종면 문암리', '전라북도 김제시 만경읍 대동리',
       '전라남도 보성군 겸백면 수남리', '전라북도 김제시 공덕면 회룡리', '충청남도 홍성군 구항면 태봉리',
       '경기도 안성시 서운면 신촌리', '충청북도 음성군 대소면 삼호리', '경상남도 고성군 마암면 삼락리',
       '충청남도 천안시 서북구 성환읍 도하리', '경기도 포천시 선단동', '전라북도 정읍시 정우면 우일리',
       '경상북도 문경시 농암면 사현리', '경기도 안성시 금광면 삼흥리', '경기도 남양주시 화도읍 차산리',
       '경상남도 거창군 가조면 동례리', '경기도 김포시 대곶면 쇄암리', '경상남도 진주시 수곡면 대천리',
       '전라남도 무안군 일로읍 지장리', '전라남도 영암군 덕진면 노송리', '충청북도 음성군 삼성면 용대리',
       '전라북도 부안군 진서면 운호리', '충청남도 천안시 서북구 성환읍 신가리', '전라남도 무안군 청계면 남성리',
       '경기도 김포시 통진읍 수참리', '경상북도 경주시 내남면 이조리', '전라북도 부안군 줄포면 신리',
       '전라북도 고창군 고수면 봉산리', '충청남도 논산시 광석면 광리', '전라남도 곡성군 곡성읍 대평리',
       '경기도 김포시 월곶면 군하리', '충청남도 천안시 동남구 병천면 매성리', '전라북도 익산시 신흥동',
       '경기도 여주시 능서면 마래리', '경기도 평택시 청북읍 고잔리', '전라북도 정읍시 입암면 단곡리',
       '경상북도 경주시 천북면 신당리', '충청남도 예산군 고덕면 석곡리', '충청남도 천안시 동남구 성남면 대흥리',
       '전라남도 구례군 용방면 용정리', '전라남도 구례군 용방면 신도리', '전라북도 남원시 주생면 중동리',
       '전라북도 남원시 사매면 관풍리', '경기도 화성시 향남읍 상신리', '충청북도 음성군 감곡면 문촌리',
       '경기도 여주시 점동면 당진리', '경기도 용인시 처인구 원삼면 문촌리', '경기도 화성시 남양읍 신남리',
       '전라북도 고창군 흥덕면 사천리', '경상북도 구미시 선산읍 죽장리', '전라북도 임실군 오수면 대정리',
       '충청남도 천안시 서북구 성환읍 대홍리', '경기도 김포시 통진읍 가현리', '전라남도 영암군 덕진면 용산리',
       '전라북도 정읍시 정우면 대사리', '전라남도 장성군 삼계면 상도리', '전라남도 나주시 동강면 장동리',
       '경기도 여주시 가남읍 삼군리', '전라남도 나주시 세지면 죽동리', '경기도 여주시 가남읍 은봉리',
       '경상북도 상주시 공성면 무곡리', '전라북도 정읍시 소성면 기린리', '충청남도 아산시 둔포면 염작리',
       '경기도 양주시 은현면 봉암리', '경기도 평택시 오성면 양교리', '충청북도 음성군 소이면 비산리',
       '충청남도 천안시 서북구 성환읍 양령리', '충청남도 당진시 합덕읍 석우리', '전라남도 강진군 성전면 금당리',
       '전라남도 장흥군 회진면 회진리', '전라남도 강진군 작천면 갈동리', '경기도 포천시 영북면 자일리',
       '전라남도 고흥군 동강면 매곡리', '전라남도 영암군 시종면 봉소리', '전라남도 나주시 공산면 중포리',
       '전라남도 영암군 덕진면 장선리', '전라북도 정읍시 이평면 장내리', '전라북도 고창군 흥덕면 치룡리',
       '대구광역시 동구 도동', '경상남도 고성군 거류면 은월리', '전라북도 군산시 옥산면 남내리',
       '전라북도 순창군 구림면 화암리', '전라북도 임실군 신덕면 신덕리', '경상남도 고성군 대가면 갈천리',
       '전라북도 임실군 임실읍 정월리', '전라북도 임실군 관촌면 병암리', '전라북도 임실군 삼계면 죽계리',
       '전라북도 군산시 회현면 월연리', '전라북도 완주군 삼례읍 신금리', '전라북도 군산시 옥산면 쌍봉리',
       '전라북도 군산시 옥산면 옥산리', '전라북도 익산시 금강동', '전라북도 익산시 오산면 장신리',
       '전라북도 임실군 신덕면 오궁리', '전라북도 익산시 월성동', '전라북도 전주시 덕진구 용정동',
       '부산광역시 기장군 일광면 용천리', '전라북도 완주군 구이면 계곡리', '울산광역시 울주군 온산읍 삼평리',
       '울산광역시 울주군 언양읍 다개리', '울산광역시 남구 상개동', '제주특별자치도 제주시 노형동',
       '제주특별자치도 제주시 애월읍 고성리', '제주특별자치도 제주시 조천읍 신촌리', '부산광역시 기장군 장안읍 오리',
       '경상남도 양산시 원동면 화제리', '제주특별자치도 제주시 애월읍 상귀리', '전라북도 군산시 서수면 축동리',
       '경기도 파주시 법원읍 갈곡리', '제주특별자치도 제주시 이호일동', '전라북도 익산시 용안면 칠목리',
       '전라남도 장흥군 용산면 풍길리', '충청남도 공주시 계룡면 경천리', '충청남도 논산시 노성면 송당리',
       '전라북도 익산시 황등면 죽촌리', '전라남도 곡성군 석곡면 당월리', '전라북도 익산시 함열읍 석매리',
       '충청남도 논산시 광석면 사월리', '전라남도 장흥군 부산면 기동리', '전라남도 나주시 산포면 내기리',
       '전라남도 무안군 몽탄면 학산리', '전라북도 고창군 성송면 학천리', '전라북도 익산시 용동면 대조리',
       '전라북도 익산시 용동면 화배리', '전라남도 강진군 도암면 석문리', '전라북도 고창군 무장면 목우리',
       '경기도 고양시 덕양구 관산동', '충청남도 논산시 은진면 토양리', '충청남도 홍성군 은하면 장곡리',
       '경상남도 하동군 진교면 고이리', '전라남도 강진군 신전면 송천리', '충청남도 청양군 비봉면 양사리',
       '전라남도 해남군 마산면 송석리', '경기도 양주시 남면 상수리', '전라북도 김제시 공덕면 공덕리',
       '경기도 포천시 화현면 지현리', '경기도 포천시 이동면 노곡리', '경기도 김포시 하성면 마조리',
       '경기도 화성시 마도면 청원리', '경기도 화성시 팔탄면 율암리', '경기도 안성시 보개면 기좌리',
       '경기도 연천군 연천읍 상리', '충청남도 아산시 둔포면 운교리', '전라남도 무안군 망운면 피서리',
       '경기도 안성시 일죽면 방초리', '경기도 안성시 미양면 보체리', '경기도 화성시 남양읍 장덕리',
       '경기도 양주시 남면 경신리', '전라북도 부안군 계화면 양산리', '강원도 횡성군 횡성읍 학곡리',
       '경기도 양주시 은현면 도하리', '충청남도 천안시 동남구 풍세면 풍서리', '전라남도 무안군 현경면 외반리',
       '전라남도 나주시 왕곡면 화정리', '경기도 화성시 남양읍 온석리', '강원도 인제군 기린면 북리',
       '충청남도 천안시 동남구 성남면 용원리', '충청남도 서산시 인지면 성리', '경기도 안성시 대덕면 명당리',
       '충청남도 천안시 서북구 입장면 호당리', '전라남도 영암군 신북면 월평리', '전라남도 나주시 반남면 덕산리',
       '전라남도 해남군 화산면 관동리', '충청남도 천안시 서북구 성환읍 매주리', '전라북도 정읍시 이평면 청량리',
       '세종특별자치시 소정면 대곡리', '인천광역시 서구 공촌동', '경기도 평택시 포승읍 도곡리',
       '경상남도 고성군 마암면 두호리', '세종특별자치시 소정면 고등리', '경상남도 양산시 상북면 좌삼리',
       '경기도 안성시 금광면 개산리', '충청남도 천안시 동남구 수신면 신풍리', '경기도 여주시 흥천면 율극리',
       '충청남도 천안시 동남구 목천읍 운전리', '충청남도 천안시 서북구 직산읍 마정리', '충청북도 음성군 삼성면 능산리',
       '경기도 안성시 공도읍 진사리', '전라북도 김제시 용지면 용수리', '전라남도 영암군 시종면 월롱리',
       '충청북도 청주시 청원구 오창읍 성재리', '경기도 평택시 오성면 길음리', '충청남도 천안시 서북구 입장면 가산리',
       '전라북도 김제시 용지면 신정리', '전라남도 진도군 의신면 창포리', '전라북도 정읍시 고부면 신중리',
       '충청남도 천안시 동남구 성남면 봉양리', '충청남도 아산시 둔포면 봉재리', '충청남도 천안시 서북구 성환읍 왕림리',
       '충청북도 옥천군 옥천읍 구일리', '경기도 안성시 보개면 적가리', '경기도 평택시 오성면 안화리',
       '전라북도 정읍시 소성면 화룡리', '충청남도 천안시 동남구 신방동', '충청북도 음성군 삼성면 상곡리',
       '세종특별자치시 연서면 봉암리', '충청남도 천안시 서북구 성환읍 성환리', '충청북도 진천군 진천읍 문봉리',
       '충청북도 진천군 문백면 도하리', '경기도 평택시 포승읍 홍원리', '경기도 이천시 장호원읍 선읍리',
       '경기도 안성시 보개면 남풍리', '충청남도 천안시 동남구 풍세면 보성리', '전라북도 정읍시 소성면 애당리',
       '경기도 광주시 초월읍 신월리', '충청남도 천안시 동남구 병천면 도원리', '충청북도 진천군 문백면 사양리',
       '경기도 여주시 능서면 용은리', '세종특별자치시 전동면 노장리', '경기도 포천시 관인면 사정리',
       '충청남도 천안시 동남구 목천읍 소사리', '전라북도 정읍시 소성면 고교리', '경기도 포천시 영북면 야미리',
       '경기도 포천시 영중면 성동리', '전라북도 정읍시 영원면 앵성리', '경기도 평택시 고덕면 문곡리',
       '경기도 안성시 공도읍 신두리', '경기도 화성시 우정읍 매향리', '전라남도 나주시 남평읍 우산리',
       '충청남도 아산시 신창면 가내리', '전라북도 정읍시 고부면 덕안리', '경기도 평택시 청북면 삼계리',
       '충청남도 천안시 동남구 성남면 신덕리', '충청남도 천안시 동남구 동면 행암리',
       '충청남도 천안시 동남구 광덕면 매당리', '부산광역시 기장군 일광면 삼성리', '경기도 이천시 율면 월포리',
       '경기도 안성시 일죽면 산북리', '경기도 이천시 설성면 신필리', '세종특별자치시 전의면 유천리',
       '경기도 안성시 삼죽면 덕산리', '경기도 용인시 처인구 백암면 석천리', '충청남도 아산시 염치읍 쌍죽리',
       '충청북도 음성군 삼성면 대정리', '경기도 김포시 대곶면 초원지리', '충청남도 천안시 동남구 병천면 탑원리',
       '충청북도 청주시 흥덕구 오송읍 동평리', '충청북도 진천군 이월면 중산리', '경기도 안성시 일죽면 능국리',
       '경기도 평택시 청북읍 한산리', '경기도 이천시 대월면 대흥리', '경기도 안성시 보개면 동평리',
       '경기도 평택시 서탄면 회화리', '경기도 이천시 대월면 대대리', '충청남도 천안시 동남구 병천면 관성리',
       '경기도 포천시 영북면 문암리', '충청남도 아산시 배방읍 세교리', '충청북도 청주시 흥덕구 강내면 궁현리',
       '전라남도 나주시 남평읍 상곡리', '경기도 안성시 보개면 복평리', '경기도 이천시 장호원읍 진암리',
       '전라북도 부안군 줄포면 장동리', '경기도 여주시 능서면 광대리', '경기도 용인시 처인구 백암면 박곡리',
       '강원도 철원군 갈말읍 강포리', '충청북도 음성군 원남면 하노리', '경기도 안성시 일죽면 화곡리',
       '경기도 이천시 율면 본죽리', '전라북도 부안군 줄포면 대동리', '전라북도 고창군 신림면 무림리',
       '전라북도 정읍시 고부면 용흥리', '충청남도 천안시 동남구 동면 화계리', '충청남도 아산시 신창면 오목리',
       '충청북도 진천군 덕산면 구산리', '충청북도 음성군 대소면 성본리', '전라북도 정읍시 고부면 신흥리',
       '전라북도 정읍시 고부면 관청리', '충청북도 음성군 원남면 덕정리', '충청북도 충주시 대소원면 만정리',
       '전라북도 정읍시 고부면 입석리', '경기도 이천시 설성면 암산리', '충청북도 진천군 문백면 계산리',
       '세종특별자치시 연동면 응암리', '경기도 이천시 설성면 장능리', '충청남도 아산시 선장면 대흥리',
       '충청북도 청주시 흥덕구 오송읍 오송리', '경기도 포천시 관인면 탄동리', '충청북도 진천군 이월면 삼용리',
       '경기도 평택시 청북면 고잔리', '경기도 양평군 지평면 수곡리', '경기도 이천시 대월면 초지리',
       '경기도 이천시 율면 석산리', '충청북도 음성군 금왕읍 유포리', '경기도 이천시 설성면 행죽리',
       '충청남도 아산시 신창면 읍내리', '충청북도 진천군 덕산면 화상리', '충청남도 아산시 인주면 해암리',
       '충청북도 진천군 덕산면 기전리', '충청북도 진천군 진천읍 상신리', '경기도 안성시 원곡면 외가천리',
       '경기도 이천시 모가면 원두리', '충청북도 진천군 덕산면 합목리', '세종특별자치시 전동면 심중리',
       '전라남도 장성군 남면 마령리', '충청북도 괴산군 소수면 수리', '충청북도 청주시 흥덕구 오송읍 쌍청리',
       '충청북도 진천군 이월면 동성리', '경기도 양주시 백석읍 오산리', '경기도 평택시 고덕면 두릉리',
       '충청북도 진천군 덕산면 인산리', '충청북도 음성군 감곡면 단평리', '충청북도 음성군 맹동면 봉현리',
       '경기도 양주시 백석읍 가업리', '충청북도 진천군 초평면 오갑리', '충청북도 진천군 이월면 미잠리',
       '세종특별자치시 전동면 보덕리', '경기도 안성시 대덕면 보동리', '충청남도 천안시 동남구 병천면 봉항리',
       '충청남도 천안시 동남구 동면 동산리', '충청북도 음성군 맹동면 본성리', '충청남도 아산시 신창면 행목리',
       '충청북도 음성군 맹동면 마산리', '충청북도 음성군 금왕읍 삼봉리', '충청북도 음성군 맹동면 신돈리',
       '충청북도 음성군 대소면 부윤리', '전라북도 김제시 금구면 용지리', '충청북도 청원군 북이면 토성리',
       '충청북도 음성군 맹동면 용촌리', '충청북도 음성군 대소면 수태리', '전라남도 무안군 일로읍 의산리',
       '전라남도 해남군 산이면 금송리', '경기도 광주시 남한산성면 불당리', '경기도 이천시 마장면 이치리',
       '전라남도 영암군 도포면 영호리', '전라남도 영암군 도포면 구학리', '전라남도 영암군 신북면 월지리',
       '전라남도 영암군 시종면 금지리', '광주광역시 광산구 신창동', '전라남도 강진군 강진읍 덕남리',
       '전라남도 담양군 담양읍 만성리', '광주광역시 북구 우산동', '전라남도 담양군 담양읍 담주리',
       '전라남도 강진군 칠량면 삼흥리', '전라남도 나주시 노안면 오정리', '전라남도 영암군 덕진면 금강리',
       '전라남도 영암군 신북면 행정리', '경기도 양주시 광적면 우고리', '경기도 포천시 일동면 길명리',
       '경기도 포천시 창수면 추동리', '경기도 의정부시 용현동', '경기도 안성시 미양면 법전리',
       '전라북도 김제시 용지면 장신리', '충청남도 아산시 신창면 궁화리', '충청북도 음성군 생극면 병암리',
       '충청남도 홍성군 장곡면 신풍리', '전라남도 구례군 용방면 용강리', '경기도 안성시 금광면 내우리',
       '충청북도 진천군 문백면 봉죽리', '충청북도 음성군 맹동면 인곡리', '충청북도 진천군 덕산면 용몽리',
       '전라북도 군산시 서수면 마룡리', '경기도 안성시 삼죽면 마전리', '전라남도 나주시 세지면 오봉리',
       '경기도 안성시 서운면 신흥리', '경기도 안성시 보개면 양복리', '경기도 안성시 보개면 내방리',
       '전라북도 부안군 동진면 동전리', '전라남도 구례군 용방면 중방리', '경기도 안성시 미양면 강덕리',
       '경기도 여주시 가남읍 금당리', '경기도 안성시 미양면 정동리', '전라남도 무안군 일로읍 죽산리',
       '경기도 여주시 가남읍 하귀리', '부산광역시 강서구 대저2동', '경기도 안성시 미양면 고지리',
       '전라남도 무안군 일로읍 감돈리', '경기도 성남시 수정구 태평동', '경기도 성남시 중원구 성남동',
       '경상남도 양산시 명곡동', '경상북도 경주시 산내면 대현리', '전라북도 김제시 금구면 낙성리',
       '전라남도 곡성군 겸면 현정리', '전라남도 무안군 현경면 해운리', '전라남도 나주시 산포면 덕례리',
       '전라남도 화순군 북면 송단리', '전라남도 장흥군 장평면 청용리', '전라남도 영암군 시종면 와우리',
       '전라남도 나주시 남평읍 풍림리', '전라남도 영암군 시종면 옥야리', '전라남도 담양군 용면 쌍태리',
       '전라남도 무안군 일로읍 월암리', '전라남도 곡성군 석곡면 석곡리', '전라남도 곡성군 옥과면 리문리',
       '전라남도 함평군 월야면 외치리', '전라남도 영암군 군서면 양장리', '경기도 안성시 중리동',
       '대구광역시 달성군 옥포면 본리리', '전라남도 무안군 현경면 현화리', '전라남도 담양군 대전면 대치리',
       '전라남도 담양군 봉산면 대추리', '충청남도 공주시 탄천면 남산리', '울산광역시 울주군 서생면 나사리',
       '전라북도 고창군 고수면 장두리', '경상남도 하동군 적량면 고절리', '전라북도 고창군 고수면 인성리',
       '충청남도 천안시 동남구 성남면 석곡리', '전라남도 나주시 공산면 가송리', '전라남도 나주시 동강면 양지리',
       '전라북도 진안군 부귀면 오룡리', '전라남도 나주시 공산면 동촌리', '세종특별자치시 소정면 소정리',
       '전라남도 장흥군 부산면 호계리', '충청북도 증평군 도안면 화성리', '전라남도 나주시 노안면 영평리',
       '충청남도 당진시 정미면 대운산리', '경상북도 경주시 천북면 화산리', '전라북도 순창군 동계면 현포리',
       '충청남도 당진시 신평면 금천리', '전라남도 영광군 묘량면 덕흥리', '경기도 안성시 일죽면 화봉리',
       '전라북도 순창군 동계면 관전리', '전라북도 익산시 함열읍 다송리', '전라북도 김제시 청하면 장산리',
       '충청북도 청주시 청원구 북이면 대길리', '충청남도 홍성군 서부면 판교리', '충청남도 천안시 서북구 성환읍 어룡리',
       '경기도 평택시 고덕면 율포리', '충청남도 청양군 청남면 왕진리', '전라남도 순천시 낙안면 검암리',
       '경기도 화성시 온석동', '전라남도 영광군 묘량면 영양리', '경기도 안성시 공도읍 건천리',
       '충청북도 음성군 삼성면 천평리', '전라남도 영광군 홍농읍 신석리', '충청북도 음성군 삼성면 청용리',
       '충청북도 음성군 대소면 오류리', '전라남도 함평군 신광면 가덕리', '전라북도 김제시 공덕면 동계리',
       '충청남도 논산시 연무읍 마전리', '전라북도 김제시 용지면 반교리', '충청남도 청양군 운곡면 위라리',
       '전라북도 정읍시 입암면 접지리', '전라북도 정읍시 삼산동', '전라남도 영암군 영암읍 송평리',
       '전라남도 영암군 도포면 덕화리', '충청북도 음성군 대소면 미곡리', '충청북도 음성군 대소면 삼정리',
       '전라북도 정읍시 입암면 하부리', '경기도 화성시 서신면 전곡리', '경상남도 밀양시 초동면 덕산리',
       '전라북도 임실군 청웅면 옥전리', '충청남도 천안시 서북구 직산읍 판정리', '전라북도 고창군 해리면 왕촌리',
       '전라북도 부안군 줄포면 파산리', '전라북도 부안군 줄포면 난산리', '전라남도 해남군 송지면 마봉리',
       '충청남도 부여군 홍산면 북촌리', '전라북도 고창군 부안면 운양리', '전라북도 부안군 줄포면 우포리',
       '전라북도 정읍시 고부면 백운리', '전라북도 고창군 해리면 사반리', '전라북도 고창군 흥덕면 용반리',
       '전라북도 고창군 신림면 벽송리', '전라북도 부안군 줄포면 줄포리', '경기도 연천군 미산면 백석리',
       '경상북도 영천시 오수동', '경상북도 영천시 서산동', '충청남도 천안시 동남구 북면 운용리',
       '전라남도 고흥군 도덕면 용동리', '경상남도 양산시 동면 내송리', '전라남도 담양군 담양읍 반룡리',
       '경기도 이천시 설성면 상봉리', '경기도 동두천시 하봉암동', '경기도 화성시 팔탄면 서근리',
       '경기도 평택시 안중읍 성해리', '전라북도 고창군 아산면 반암리', '경상북도 성주군 용암면 덕평리',
       '전라남도 보성군 노동면 명봉리', '충청남도 천안시 서북구 직산읍 석곡리', '경기도 파주시 광탄면 창만리',
       '전라남도 여수시 만흥동', '전라남도 나주시 산포면 화지리', '전라남도 영암군 군서면 해창리',
       '전라남도 나주시 문평면 옥당리', '전라남도 화순군 청풍면 대비리', '전라남도 영암군 도포면 원항리',
       '전라남도 나주시 세지면 성산리', '전라남도 영암군 시종면 신연리', '충청남도 아산시 음봉면 산동리',
       '전라남도 나주시 공산면 남창리', '전라남도 나주시 남평읍 광이리', '전라남도 나주시 세지면 동곡리',
       '전라북도 익산시 망성면 무형리', '경상북도 경산시 갑제동', '경상남도 양산시 상북면 상삼리',
       '서울특별시 송파구 장지동', '부산광역시 기장군 장안읍 장안리', '부산광역시 해운대구 반여동',
       '경기도 안성시 공도읍 중복리', '강원도 춘천시 사북면 지촌리', '부산광역시 강서구 대저1동',
       '서울특별시 광진구 자양동', '대구광역시 수성구 만촌동', '울산광역시 울주군 웅촌면', '경상북도 영천시 오미동',
       '충청남도 논산시 부적면 외성리', '전라북도 익산시 여산면 두여리', '전라북도 익산시 용동면 흥왕리',
       '전라북도 김제시 금구면 하신리', '전라북도 김제시 용지면 구암리', '전라북도 김제시 백구면 마산리',
       '전라북도 김제시 금산면 청도리', '경기도 평택시 포승면 석정리', '전라북도 김제시 용지면 용암리',
       '전라북도 정읍시 영원면 은선리', '충청남도 아산시 탕정면 용두리', '전라북도 김제시 공덕면 마현리',
       '경기도 양주시 은현면 하패리', '충청남도 천안시 풍세면 용정리', '경상남도 양산시 하북면 백록리',
       '울산광역시 울주군 상북면 명촌리', '충청남도 천안시 서북구 직산읍 신갈리', '경상북도 경주시 안강읍 육통리',
       '충청북도 음성군 대소면 태생리', '충청북도 진천군 진천읍 신정리', '충청남도 천안시 직산읍 판정리',
       '전라남도 나주시 산포면 매성리', '충청북도 음성군 삼성면 용성리', '충청북도 음성군 삼성면 덕정리'],
      dtype=object)

In [19]:
df['발생장소'] = df['농장소재지'].apply(lambda x : x.split(' ')[0]+' '+ x.split(' ')[1] )
df['발생장소']

0       전라북도 부안군
1    세종특별자치시 부강면
2       전라남도 영암군
3        경기도 파주시
4    세종특별자치시 연동면
        ...
7       충청남도 천안시
8       전라남도 나주시
9       충청북도 음성군
0       충청북도 음성군
1       충청북도 음성군
Name: 발생장소, Length: 1082, dtype: object

In [20]:
df.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN,2021-12-27,전라북도 부안군
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-23,세종특별자치시 부강면
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN,2021-12-20,전라남도 영암군
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN,2021-12-17,경기도 파주시
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-16,세종특별자치시 연동면

In [21]:
df.to_csv('./data/조류인플루엔자_1.csv',index=False)

# ◆ 조류인플루엔자(AI) 타깃 정하기

In [22]:
df_ai = pd.read_csv('./data/조류인플루엔자_1.csv')
df_ai

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN,2021-12-27,전라북도 부안군
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-23,세종특별자치시 부강면
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN,2021-12-20,전라남도 영암군
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN,2021-12-17,경기도 파주시
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-16,세종특별자치시 연동면
...,...,...,...,...,...,...,...,...,...,...
1077,고병원성조류인플루엔자,박병준,충청남도 천안시 동남구 북면 운용리,2003-12-24 (2003-12-20),오리,-,조류질병과,NaN,2003-12-24,충청남도 천안시
1078,고병원성조류인플루엔자,가나안농장,전라남도 나주시 산포면 매성리,2003-12-21 (2003-12-25),오리,-,조류질병과,NaN,2003-12-21,전라남도 나주시
1079,고병원성조류인플루엔자,서기환,충청북도 음성군 삼성면 용성리,2003-12-19 (2003-12-19),닭,-,조류질병과,NaN,2003-12-19,충청북도 음성군
1080,고병원성조류인플루엔자,김학면,충청북도 음성군 삼성면 덕정리,2003-12-17 (2003-12-17),오리,-,조류질병과,NaN,2003-12-17,충청북도 음성군
1081,고병원성조류인플루엔자,박덕규,충청북도 음성군 삼성면 용성리,2003-12-12 (2003-12-12),닭-육계,-,조류질병과,NaN,2003-12-12,충청북도 음성군

In [23]:
df_ai['발생장소_광역시'] = df_ai['발생장소'].apply(lambda x : x.split(' ')[0])
df_ai.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소,발생장소_광역시
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN,2021-12-27,전라북도 부안군,전라북도
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-23,세종특별자치시 부강면,세종특별자치시
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN,2021-12-20,전라남도 영암군,전라남도
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN,2021-12-17,경기도 파주시,경기도
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-16,세종특별자치시 연동면,세종특별자치시

In [24]:
df_ai['발생장소_광역시'].value_counts() # 지역별로 조사하기엔 데이터 수가 너무 작음

경기도        247
전라남도       227
충청북도       198
전라북도       182
충청남도       128
세종특별자치시     24
경상남도        23
경상북도        16
울산광역시        8
강원도          7
제주특별자치도      7
부산광역시        7
대구광역시        3
광주광역시        2
서울특별시        2
인천광역시        1
Name: 발생장소_광역시, dtype: int64

In [25]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_ai))

# 데이터프레임만들기
target_lst = df_ai['발생일시']
df_target = pd.DataFrame({'시간':target_lst, 'AI발생여부':answer})
df_target.value_counts()

시간          AI발생여부
2014-02-19  1         21
2016-12-02  1         16
2016-12-13  1         15
2016-12-12  1         14
2016-12-05  1         13
                      ..
2015-01-06  1          1
2014-12-26  1          1
2014-12-13  1          1
2014-12-11  1          1
2021-12-27  1          1
Length: 467, dtype: int64

In [26]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간          AI발생여부
2003-12-12  1         1
2016-12-29  1         1
2017-01-10  1         1
2017-01-09  1         1
2017-01-08  1         1
                     ..
2014-07-25  1         1
2014-06-26  1         1
2014-06-25  1         1
2014-06-16  1         1
2021-12-27  1         1
Length: 467, dtype: int64

In [27]:
# 구간(2005년 ~2021년8월)
df_c2 = df_c1.loc['2005-01-01':'2021-08-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.00000,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.00000,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.00000,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.00000,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.00000,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,1.3,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,NaN
2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,1.8,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,NaN
2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,1.6,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,NaN
2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,1.4,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,NaN
2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,2.3,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,NaN

## 기후 데이터 + AI타겟 합치기

In [28]:
# 합치기
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['AI발생여부'] = df_model['AI발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값,AI발생여부
0,2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,...,1.3,-7.8,36.7375,20.0,4.125,0.00000,1028.7375,-15.5500,0.036,0.0
1,2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,...,5.4,-1.8,45.7000,10.0,5.750,0.00000,1018.0500,-9.5750,0.032,0.0
2,2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,...,4.0,-4.9,37.5500,70.0,4.375,0.00000,1029.3625,-14.1500,0.027,0.0
3,2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,...,1.1,-7.3,36.2625,280.0,2.625,0.00000,1035.5125,-17.3375,0.040,0.0
4,2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,...,0.7,-4.1,47.6375,10.0,3.125,0.00000,1027.5750,-11.2125,0.044,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6447,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,NaN,0.0
6448,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,NaN,0.0
6449,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,NaN,0.0
6450,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,NaN,0.0
6451,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,NaN,0.0

In [29]:
df_model.to_csv('./data/AI타겟추가.csv')

In [33]:
df_ai.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소,발생장소_광역시
0,고병원성조류인플루엔자,다산1농장,전라북도 부안군 진서면 진서리,2021-12-27 (2021-12-28),오리-종오리,-,조류인플루엔자연구진단과,NaN,2021-12-27,전라북도 부안군,전라북도
1,고병원성조류인플루엔자,영광농장,세종특별자치시 부강면 등곡리,2021-12-23 (2021-12-24),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-23,세종특별자치시 부강면,세종특별자치시
2,고병원성조류인플루엔자,현대농장,전라남도 영암군 시종면 신학리,2021-12-20 (2021-12-22),닭-육계,-,조류인플루엔자연구진단과,NaN,2021-12-20,전라남도 영암군,전라남도
3,고병원성조류인플루엔자,지원농장,경기도 파주시 광탄면 발랑리,2021-12-17 (2021-12-17),메추리-비분류,-,조류인플루엔자연구진단과,NaN,2021-12-17,경기도 파주시,경기도
4,고병원성조류인플루엔자,보성3농장,세종특별자치시 연동면 문주리,2021-12-16 (2021-12-17),닭-산란계,-,조류인플루엔자연구진단과,NaN,2021-12-16,세종특별자치시 연동면,세종특별자치시

In [45]:
df_ai_month = df_ai['발생일시'].apply(lambda x : x.split('-')[1])
df_ai_month.value_counts()

12    328
01    201
02    177
03    123
11     89
04     51
06     44
10     24
05     24
09     18
07      3
Name: 발생일시, dtype: int64